<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/tbozdemir/Desktop/RESTassured/API TESTING/src/test/java/Day8">
        <classes>
            <class name="OldProjects.Day1.Day8.CreateUser"><methods><include name="test_createUser"/></methods></class>
            <class name="OldProjects.Day1.Day8.GetUser"><methods><include name="testUser"/></methods></class>
            <class name="OldProjects.Day1.Day8.UpdateUser"><methods><include name="updateUser"/></methods></class>
            <class name="OldProjects.Day1.Day8.DeleteUser"><methods><include name="deleteUser"/></methods></class>
        </classes>
    </test>
</suite>